.body{
    line-height: 1;
    margin-top: 2%;
    background: rgb(17, 16, 16);
}
.end{
    color: rgb(255, 254, 254);
}
.container{
    background: rgb(17, 16, 16);
    margin-top: 2%;
    color: darkgray;
    float: right;
}
.titulo{
    color: white;
    position: relative;
    left: 1.5%;
}
.sobre{ 
    margin: 0% 24%;
}
.espaço{
    margin: 25% 3%;
}
@media (max-width: 1067px) {
    .sobre{ 
        margin: 0% 0%;
    }
}
@media (max-width: 607px) {
    .sobre{ 
        margin: 0% 0%;
    }
    .rounded{
        width: 100px;
        height: 100px;
    }
}